%table
  - @loggedins.each do |entry|
    %tr
      %td
        %div(style='width: 8em')== #{entry.date} #{entry.time}
      %td(align='right' style='width: 5em')== #{entry.users.size} users
      %td= entry.users.map(&:description).join(', ')

