!!! XML
!!! Strict

%html
  %head
    %title NEURON ログイン中のユーザ
    %meta{:'http-equiv'=>'Content-Type', :content=>'text/html', :charset=>'utf-8'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/style.css'}
  %body
    %h2 NEURON ログイン中のユーザ
    %div
      %a{:href=>url('/detailed')} 詳細
      &nbsp;&nbsp;
      %a{:href=>url('/max_user_by_hour')} 時間ごとの最大ユーザ数
      &nbsp;&nbsp;
      %a{:href=>url('/max_user_by_date')} 日ごとの最大ユーザ数
    %br
    != yield

