%table.table_base
  - @hour_and_max_users.each do |hour, max_users|
    %tr
      %td
        %div(align='center' style='width: 10em')= hour
      %td(align='right' style='width: 5em')== #{max_users} users

