%table.table_base
  - @timestamp_and_max_users.each do |timestamp, max_users|
    %tr{:class=>timestamp.weekend? && 'weekend'}
      %td
        %div(style='width: 9em')= timestamp
      %td(align='right' style='width: 5em')== #{max_users} users

